<p id="notice"><%= notice %></p>

<p>
  <b>Term:</b>
  <%= @taxis.term %>
</p>

<p>
  <b>Description:</b>
  <%= @taxis.description %>
</p>

<p>
  <b>Parent:</b>
  <%= @taxis.parent %>
</p>


<%= link_to 'Edit', edit_taxis_path(@taxis) %> |
<%= link_to 'Back', taxes_path %>
